.about {
  height: 80vh;
  animation: fadein 1s forwards;
  margin-left: 8rem;
}

/* h3{
    margin-left:5rem;
} */

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.profile {
  display: flex;
  justify-content: flex-start;
}

/* .avatar{
    position: relative;
    margin:0 3rem 0 10rem;
} */
/* .my-avatar{
    height: 17rem;
    width: 17rem;
    border-radius: 1000px;
    position:absolute;
    top:3rem;
    left:-3rem;
} */

/* .my-avatar-shadow-1{
    height: 10rem;
    width: 10rem;
    background-color: rgb(240, 243, 204);
      position:absolute;
    border-radius: 1000px;
    top:2rem;
    left:8rem;
} */

/* .my-avatar-shadow-2{
    height: 14rem;
    width: 14rem;
    background-color: rgb(216, 236, 208);
    position:absolute;
    border-radius: 1000px;
    top:7rem;
    left:3rem;
} */

.introduce {
  margin-top: 5rem;
  /* margin-left: 8rem; */
}

.title-1 {
  font-size: 1.5rem;
}

.title {
  font-size: 1.3rem;
  margin: 1rem 0 0.5rem 0;
}

p {
  margin-top: 0;
}

hr {
  background-color: rgb(60, 70, 70);
  border: none;
  height: 1px;
}

.fixed-footer {
  position: fixed;
  bottom: 0;
  right: 0;
}

@media (max-width: 500px) {
  .about {
    margin: 0 2rem 0 2rem;
  }

  .introduce {
    margin-top: 2rem;
  }

  .title-1 {
    font-size: 1.4rem;
  }

  .title {
    font-size: 1.2rem;
    margin: 2rem 0 0.5rem 0;
  }
  p {
    font-size: 0.9rem;
  }
}

@media (orientation: landscape) and (max-width: 900px){
.introduce{
  margin: 2rem 0 0 0;
}
 .title-1 {
    font-size: 1rem;
    margin-bottom: 0;
  }

  .title {
    font-size: 0.9rem;
    margin: 1rem 0 0.5rem 0;
  }
  p {
    font-size: 0.8rem;
  }

}