.works-conteiner{
    animation: fadein 1s forwards;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin:4rem 3rem 5rem 3rem;
}


@keyframes fadein {
	0% {opacity: 0}
	100% {opacity: 1}
}

.work-title{
    text-align: center;
    font-size: 1.3rem;
}

.work-date{
     text-align: center;
    font-size: 1.3rem;
}


@media (orientation: landscape) and (max-width: 1030px){
    .works-conteiner{
        margin: 0rem 3rem 10rem 3rem;
    }
    .work-title{
    font-size: 1.1rem;
}

.work-date{
    font-size: 1rem;
}


}