.logo {
  margin: 0;
}

h1 {
  margin: 1rem 0 0 2rem;
  font-size: 3rem;
}

h3 {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: rgb(102, 101, 101);
}

@media (max-width: 700px) {
  h1 {
    margin: 0 0 0 0.5rem;
    font-size: 1.5rem;
  }
}

@media (orientation: landscape) and (max-width: 900px){
    h1 {
    margin: 0.2rem 0 0 0.5rem;
    font-size: 1.5rem;
  }
}