* {
  color: black;
  background-color: white;
  font-family: "Rafale-BG";
}

h3{
  margin-left: 2rem;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
}

@font-face {
    font-family: "Rafale-BG";
    src: url("./Rafale-BG.otf") format("opentype");
}

@media (max-width: 700px){
.nav-bar{
display: flex;
flex-direction: column-reverse;
  }

h3{
  margin-left:0.5rem;
  font-size: 0.8rem;
}


}