* {
  color: black;
  background-color: white;
  font-family: "Rafale-BG";
}

.nav-bar {
  display: flex;
  justify-content: space-between;
}

@font-face {
    font-family: "Rafale-BG";
    src: url("./Rafale-BG.otf") format("opentype");
}