
ul{
    display: flex;
    justify-content: flex-end;
}

li{
    margin: 1rem 5rem 0 0;
    list-style: none;
    font-weight: bold;
    font-size: 1.2rem;
}

.link{
    text-decoration: none;
}

.line-under-nav{
    display: none;
}

@media (max-width: 700px){
ul{
padding-left:0;
margin:0;
  }

li{
    margin: 0rem 1rem 0rem 2rem;
    font-size: 1rem;
} 

.line-under-nav{
    display: block;
}

}