.work-card-img{
    width: 18rem;
    height: 15rem ;
    margin: 2rem 2rem 2rem 2rem;
    border-radius: 300px;
}


@media (orientation: landscape) and (max-width: 1030px){
    .work-card-img{
          margin: 2rem 2rem 0.5rem 2rem;
    }
}


